body{
    background-image: url(calc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    margin-left: 38%;
    margin-top: 10%;
    
}

td{
    border: 1px solid black;
    height: 70px;
    width: 70px;
    background-color: lightgrey;
    text-align: center;
    box-shadow: 1px 1px 1px black;
    text-shadow: 1px 0px 1px black;
    opacity: 90%;
}

td:hover{
    background-color: aquamarine;
    font-size: 20px;
}

td:active{
    background-color: cyan;
    font-size: 16px;
}